# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/FicheroAccesoAleatorio/nbproject/private/
/sentenciaModiBDf3_1/nbproject/private/
/sentenciaModiBD3_2/nbproject/private/
/sentenciaModiBD3_5/nbproject/private/
/facturacion/nbproject/private/
/facturacion/build/
/creaidiomas/nbproject/private/
/creaidiomas/build/
/creaTraductores/nbproject/private/
/creatextos/nbproject/private/
/creatextos/build/
/creaTraductores/build/
/Mi_ORM_conexion/nbproject/private/
/Mi_ORM_conexion/build/
/Hibernate/ORM_Provincias/nbproject/private/
/Hibernate/ORM_Provincias/build/
/Hibernate/ORM_conexion/build/
/programas_de_ejemplo/Capitulo_2_Ficheros/1-ListadoDirectorio/prj/1-ListadoDirectorio/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/2-ExcepcionesNoGestionadas/prj/2-ExcepcionesNoGestionadas/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/3-ExcepcionesDivPorCeroGest/prj/3-ExcepcionesDivPorCeroGest/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/4-ExcepcionesDiversas/prj/4-ExcepcionesDiversas/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/5-ExcepcionesConThrows/prj/5-ExcepcionesConThrows/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/6-EscribeConNumeroDeLineas/prj/6-EscribeConNumeroDeLineas/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/7-VolcadoBinario/prj/7-VolcadoBinario/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/8-EscribeEnFlujoSalida/prj/8-EscribeEnFlujoSalida/nbproject/private/
/programas_de_ejemplo/Capitulo_2_Ficheros/9-ArreglaFicheroTexto/prj/9-ArreglaFicheroTexto/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/1-Connection/prj/1-Connection/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/2-JDBC_create_table/prj/2-JDBC_create_table/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/3-JDBC_insert/prj/3-JDBC_insert/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/4-JDBC_select/prj/4-JDBC_select/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/5-JDBC_prepared_statement/prj/5-JDBC_prepared_statement/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/6-JDBC_transacciones/prj/6-JDBC_transacciones/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/7-JDBC_callable_statement/prj/7-JDBC_callable_statement/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/8-JDBC_ResultSet_actualizable/prj/8-JDBC_ResultSet_actualizable/nbproject/private/
/programas_de_ejemplo/Capitulo_3_bases_de_datos_relacionales/9-JDBC_prepared_statement_en_lote/prj/9-JDBC_prepared_statement_en_lote/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/1-ORM_conexion/prj/1-ORM_conexion/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/10-ORM_herencia_tabla_por_subclase/prj/10-ORM_herencia_tabla_por_subclase/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/11-ORM_Query_SQL/prj/11-ORM_Query_SQL/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/2-ORM_colecciones_e_iteradores/prj/2-ORM_colecciones_e_iteradores/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/3-ORM_colecciones_e_iteradores_2/prj/3-ORM_colecciones_e_iteradores_2/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/4_ORM_rel_uno_a_uno/prj/4-ORM_rel_uno_a_uno/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/5-ORM_Query_consulta/prj/5-ORM_Query_consulta/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/6-ORM_Query_consulta_getSingleResult/prj/6-ORM_Query_consulta_getSingleResult/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/7-ORM_query_mas_modificacion/prj/7-ORM_query_mas_modificacion/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/8-ORM_ExecuteUpdate/prj/8-ORM_ExecuteUpdate/nbproject/private/
/programas_de_ejemplo/Capitulo_4-ORM/9-ORM_herencia_tabla_para_la_jerarquia/prj/9-ORM_herencia_tabla_para_la_jerarquia/nbproject/private/
/programas_de_ejemplo/Capitulo_5_BDO_BDOR/1_Matisse_CreacionEmpleadosYProyectos/prj/1-Matisse_CreacionEmpleadosYProyectos/nbproject/private/
/programas_de_ejemplo/Capitulo_5_BDO_BDOR/2_Matisse_Borrado_Objetos_Rel/prj/2-Matisse_Borrado_Objetos_Rel/nbproject/private/
/programas_de_ejemplo/Capitulo_5_BDO_BDOR/3-Matisse_JDBC/prj/3-Matisse_JDBC/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/1-Parsing_DOM/prj/1-Parsing_DOM/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/2-Creac_Serializ_DOM/prj/2-Creac_Serializ_DOM/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/3-Parsing_SAX/prj/3-Parsing_SAX/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/4-Parsing_DOM_valid/prj/4-Parsing_DOM_valid/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/5-Parsing_SAX_valid/prj/5-Parsing_SAX_valid/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/6-JAXB_Unmarshalling/prj/6-JAXB_Unmarshalling/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/7-JAXB_Marshalling/prj/JAXBClientsCrear/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/8-XPathConsulta/prj/8-XPathConsulta/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/9-XSL/prj/9-XSL/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/1-XMLDB_Conexion/prj/1-XMLDB_Conexion/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/2-XMLDB_ColeccionesCreacBorrado/prj/2-XMLDB_ColeccionesCreacBorrado/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/3-XMLDB_DocumentosCreacBorrado/prj/3-XMLDB_DocumentosCreacBorrado/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/4-XQJ_Conexion/prj/4-XQJ_Conexion/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/5-XQJ_Consulta/prj/5-XQJ_Consulta/nbproject/private/
/programas_de_ejemplo/Capitulo_7_BD_XML/6-XQJ_Modificacion/prj/6-XQJ_Modificacion/nbproject/private/
/programas_de_ejemplo/Capitulo_6_XML/1-Parsing_DOM/prj/1-Parsing_DOM/build/
/pruebaORM/nbproject/private/
/pruebaORM/build/
/prueba2ORM/nbproject/private/
/prueba2ORM/build/
/Hibernate/ORM_CONEXION/nbproject/private/
/Hibernate/ORM_CONEXION/build/
/Hibernate/ORM_Conexion/nbproject/private/
/Hibernate/ORM_Conexion/build/